:root {
    --primary: #00b6b6;
    --primaryLight: #3effff;
    --secondary: #b21f9e;
    --darkGrey: #4b4b4b;
    --grey: #777777;
    --lightGrey: #9c9c9c;
    --black: #000000;
    --black2: #242424;
    --white: #ffffff;

    --borderPrimary: 1px solid var(--primary);
    --primaryround: 0 0 5px 5px rgb(0, 182, 182,0.5);
    --blackShadow: 0 5px 2px 0 var(--black);
}

*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Lato", Arial, sans-serif;
    background-color: #f2fffa;
}